In [1]:
import baostock as bs
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from sqlalchemy import create_engine

# 因子数据处理

In [2]:
def del_factor_data():
    
    # 从数据库获取股票信息
    connect = create_engine("mysql+pymysql://root:981106@localhost:3306/stocks?charset=utf8")
    data = pd.read_sql('SELECT * FROM stocks_data',connect,parse_dates=['date'])
    
    # 增加因子序列
    data.replace('',np.NaN,inplace=True)
    data['close'] = data['close'].astype(np.float64)
    data['peTTM'] = data['peTTM'].astype(np.float64)
    data['MV'] = data['volume'].astype(np.float64) / data['turn'].astype(np.float64) 
    data['EP'] = data['peTTM']**(-1)
    data['TURN'] = data['turn'].astype(np.float64)
    data['profit'] = data.groupby(by='code')['close'].pct_change()
    
    # 剔除后30%股票
    data['keep'] = pd.cut(data['MV'],bins=data['MV'].quantile([0,0.3,1]),labels=list('DK'))
    data = data[data['keep']=='K']
    
    return data

In [3]:
def get_factor_data(data):
    '''
    得到因子预期收益率
    '''
    
    data.dropna(inplace=True)
    if data.size == 0:
        return [np.nan,np.nan,np.nan,np.nan]
    # 得到因子标签
    # print(data,data.size,type(data.size))
    data['SMB'] = pd.cut(data['MV'],bins=data['MV'].quantile([0,0.5,1]),labels=list('SB'))
    data['VMG'] = pd.cut(data['EP'],bins=data['EP'].quantile([0,0.3,0.7,1]),labels=list('GMV'))
    data['PMO'] = pd.cut(data['TURN'],bins=data['TURN'].quantile([0,0.3,0.7,1]),labels=list('OMP'))
    
    # 计算组合预期收益率
    # data['profit'] = data['profit'].clip(data['profit'].mean()-3*data['profit'].std(),data['profit'].mean()+3*data['profit'].std())
    smb_vmg = data.groupby(by=['SMB','VMG']).apply(lambda x:np.average(x['profit'],weights=x['MV']))
    smb_pmo = data.groupby(by=['SMB','PMO']).apply(lambda x:np.average(x['profit'],weights=x['MV']))
    
    # 计算因子预期收益率
    mkt = np.average(data['profit'],weights=data['MV'])
    smb_value = (smb_vmg.loc['S'].sum() - smb_vmg.loc['B'].sum()) / 3
    smb_turnover = (smb_pmo.loc['S'].sum() - smb_pmo.loc['B'].sum()) / 3
    smb = (smb_value + smb_turnover) / 2
    vmg = (smb_vmg.loc[:,'V'].sum() - smb_vmg.loc[:,'G'].sum()) / 2
    pmo = (smb_pmo.loc[:,'P'].sum() - smb_pmo.loc[:,'O'].sum()) / 2
    
    return [mkt,smb,vmg,pmo]

In [4]:
def save_factor_data():
    data = del_factor_data()
    factor = data.groupby(by='date').apply(get_factor_data).apply(Series)
    factor.dropna(inplace=True)
    factor.columns=('mkt','smb','vmg','pmo')
    con = create_engine("mysql+pymysql://root:981106@localhost:3306/stocks?charset=utf8")
    factor.reset_index().to_sql('factor_data',con,index=False,if_exists='append')
    
    return factor

In [5]:
save_factor_data()

                 mkt       smb       vmg       pmo
date
2010-01-29 -0.081583  0.031271 -0.013632  0.079634
2010-02-26  0.027376  0.021033 -0.037203  0.074188
2010-03-31  0.022704  0.003256 -0.010392  0.060586
2010-04-30 -0.079435  0.008365 -0.011928  0.027947
2010-05-31 -0.077914 -0.007155 -0.007245  0.003450
...              ...       ...       ...       ...
2022-03-31 -0.029593 -0.016802 -0.009789  0.091215
2022-04-29 -0.073413 -0.069715  0.057940 -0.058927
2022-05-31  0.049425  0.052337 -0.052299  0.080592
2022-06-30  0.045129  0.017031 -0.034275  0.084107
2022-07-29 -0.004500  0.020808 -0.045873  0.109322

[151 rows x 4 columns]

# 股票池股票清洗
    剔除涨跌停、停牌、ST股的数据

In [79]:
def get_pool_data():
    '''
    得到股票池数据
    '''
    
    # 从数据库获取股票信息
    connect = create_engine("mysql+pymysql://root:981106@localhost:3306/stocks?charset=utf8")
    pool = pd.read_sql_query('SELECT * FROM pool_data',connect,parse_dates=['date'],dtype={'open':np.float64,'close':np.float64})
    pool
    
    # 剔除涨跌停、停牌、ST股的数据
    condition = pd.concat([pool.apply(lambda x:x['open']*0.9<x['close']<x['open']*1.1,axis=1),pool['tradestatus']=='1',pool['isST']=='0'],axis=1)
    pool = pool[condition.apply(all,axis=1)]
    
    # 计算收益率
    pool['profit'] = pool.groupby(by='code').close.pct_change()
    pool.dropna(inplace=True)
    pool.reset_index(drop=True,inplace=True)
    
    # 保存股票池数据
    con = create_engine("mysql+pymysql://root:981106@localhost:3306/stocks?charset=utf8")
    pool.reset_index().to_sql('del_pool',con,index=False,if_exists='append')
    return pool

In [80]:
get_pool_data()

           date       code       open      close tradestatus isST    profit
0    2021-01-29  sh.600000   8.738917   8.982416           1    0  0.028926
1    2021-01-29  sh.600009  76.230000  79.000000           1    0  0.044145
2    2021-01-29  sh.600010   1.150757   1.140837           1    0 -0.017094
3    2021-01-29  sh.600011   4.031273   3.992971           1    0 -0.069196
4    2021-01-29  sh.600015   5.419949   5.437778           1    0 -0.024000
...         ...        ...        ...        ...         ...  ...       ...
9514 2021-12-31  sz.300482  39.025454  39.085004           1    0  0.017045
9515 2021-12-31  sz.300618  79.241813  79.589234           1    0 -0.182837
9516 2021-12-31  sz.300630  53.177542  54.698036           1    0  0.055417
9517 2021-12-31  sz.300699  85.694339  83.693153           1    0  0.002135
9518 2021-12-31  sz.300741  45.760077  45.072451           1    0 -0.320795

[9519 rows x 7 columns]